/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Ll]og/
/[Bb]uild/
/[Bb]uilds/
/[Uu]serSettings/
/[Pp]rojectSettings/ProjectVersion.txt
/Assets/AssetStoreTools*

# Builds
*.apk
*.unitypackage
.vscode/
.vs/
.history/

Assets/VacuumShaders
Assets/Plugins
